:root {
    --item-border-color: #511502;
    --item-dark-border-color: #421608;
    --item-background-color: #C9731E;
    --item-dim-background-color: #A2581B;
    --beige-color: #e9c4a1;
    --text-bright-color: #F7F1E9;
    --text-dark-color: #301C0F;
}